[submodule "src/docker-nginx"]
	path = src/docker-nginx
	url = http://gitlab.oit.duke.edu/mccahill/docker-nginx.git
[submodule "src/docker-gen"]
	path = src/docker-gen
	url = http://gitlab.oit.duke.edu/mccahill/docker-gen.git
